.mce-content-body [contentEditable=false][data-mce-selected] {
    cursor: not-allowed;
    outline-width: 0px;
}

.mce-content-body [contentEditable=false] [contentEditable=true]:hover {
    outline: 3px solid #4747A1;
}

.mce-content-body [contentEditable=false] [contentEditable=true]:focus {
    outline: 3px solid #4747A1;
}

.form-table {
	width: 100%;
	height: 40mm;
	border:1px solid black !important;
	border-collapse: collapse !important;
}

.component-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border:1px solid black !important;
}

.content-align-center {
	text-align: center;
	border:1px solid black !important;
}

div[id="A4"] > * {
	display: flex;
	flex-direction: row;
	position: absolute;
}

.text-title {
	font-size: 32px;
	font-weight: bold;
}

.text-title-semi {
	font-size: 16px;
	font-weight: bold;
	background-color: #E6E6E6;
}

.text-content {
	font-size: 16px;
}

td[class~="positionText"], td[class~="stateText"], td[class~="nameText"], td[class~="dateText"] {
	width: 0px;
	height: 0px;
	border-bottom: 1px solid black !important;
	border-right: 1px solid black !important;
}