@charset "UTF-8";
.form-table {
	width: 100%;
	height: 40mm;
	border:1px solid black;
	border-collapse: collapse;
}

.component-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border:1px solid black;
}

.content-align-center {
	text-align: center;
	border:1px solid black;
}

div[id="A4"] > * {
	display: flex;
	flex-direction: row;
	position: absolute;
}

.text-title {
	font-size: 32px;
	font-weight: bold;
}

.text-title-semi {
	font-size: 16px;
	font-weight: bold;
	background-color: #E6E6E6;
}

.text-content {
	font-size: 16px;
}