@charset "UTF-8";

.approval-card {
	padding-left:10px;
	padding-right:10px;
	width: 150px;
	height: 93px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #777777;
}

.approval-card-body {
	height:inherit;
	display:flex;
	align-items:stretch;
}

.approval-card-header {
	display: flex;
	align-items:center;
	justify-content: flex-start;
}

.approval-card-main {
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.approval-card-footer {
	display: flex;
	align-items:center;
	justify-content: center;
}