button{
	border:none;
	background-color: white;
}
.table th{
	border-top:none;
	border-bottom:4px solid #2C3639;
} 




/* The container <div> - needed to position the dropdown content */
.row{
	padding : 0px;
	margin:0px;
}
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   min-width: 160px;
   z-index: 1;
   box-shadow: 5px 2px 30px  #d9d9d9;
   
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: white;
	text-align: left;
	padding: 12px 16px;
	padding-left: 30px;
	font-size:15px;
	display: block;
	color: black;
}
.dropdown-content a:hover{
	background-color: #ECECEC;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
   border-radius:0px 0px 20px 20px;
}

.delete_button{
	width:50%;
	height:30px;
	background-color:#2C3639;
	color:white;
	border : none;
	text-align: center;
	font-size:15px;
}

.paging-text{
	border : none;
	text-align: center;
	font-size:20px;
	color:#2C3639;
}