*{
	margin:0px;
	padding:0px;
	
}
.col{
	margin:0px;
	padding:0px;
}
.row{
	margin:0px;
	padding:0px;
}
p{
	width:100%;
	font-size:20;
	font-weight: bold;
}
button{
	border : none;
	height:30px;
	width:100%;
	font-size:20;
	font-weight: bold;
	text-align: center;
	border-radius:10px;
}
button:hover{
	border : 2px solid black;
}

