/* Font */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/* Layout - Mobile */
@media all and (min-width:100px) and (max-width:386px) {
   #main_menu {
      display: flex;
      width: 100%;
      height: 100px;
      background-color: #2C3639;
   }
   
   #main_menu_logo {
      display: none;
   }
   
   .nav-item img {
      margin: 30px 10px 0px 33px;
   }
   
   #sidebar_font_home, #sidebar_font_board, #sidebar_font_organization {
      margin-left: 23px;
   }
   
   #sidebar_font_mail {
      margin-left: 32px;
   }
   
   #sidebar_font_approval {
      font-size: 14px;
      margin-left: 19px;
   }

   #sidebar_font_hr {
      margin-left: 37px;
   }
   
   #main_content {
      width: 100%;
   }
   
}


/* Layout - PC */
@media all and (min-width:386px) {
   #main_menu {
      z-index: 1;
      position: fixed;
      width: 75px;
      height: 100%;
      background:linear-gradient(45deg,#2F2642,#2C3639);
   	  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
   }
   
   #main_menu_logo div, #header_box div, #sub_menu div{
      display: flex;
      justify-content: center;
   }
   
   #main_menu_list {
      margin-top: 40px;
      font-family: 'HallymGothic-Regular';
	  font-weight: 500;
	  font-style: normal;
	  font-size: 13px;
   }
   
   #main_menu_list img {
   	  width: 40px;
   }
   
   #main_menu_list li {
   	  display: grid;
   	  justify-content: center;
   }
   
   #main_menu_list a:hover {
   	  display: grid;
   	  justify-content: center;
   	  width: 60px;
   	  transform: scale(0.9);
   	  background-color: #b8b5be;
   	  transition: 0.3s;
   	  border-radius: 10px;
   }
   
   .nav-item div {
      display: flex;
      justify-content: center;
   }

   .nav-item {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   
   #emp_name {
   	  font-family: 'LINESeedKR-Bd';
	  font-weight: normal;
      font-style: normal;
      font-size: 30px;
   }
   
   #emp_position {
      font-family: 'HallymGothic-Regular';
	  font-weight: 500;
	  font-style: normal;
      font-size: 14px;
   }

   #emp_dep {
   	  margin-left: 10px;
      font-family: 'HallymGothic-Regular';
	  font-weight: 700;
	  font-style: normal;
      font-size: 17px;
      color: #2F2642;
   }
   
   #header_box {
      background:linear-gradient(45deg,#2C3639,#2F2642);
      border-radius: 10px;
      width: 150px; 
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
      font-family: 'HallymGothic-Regular';
	  font-weight: 500;
	  font-style: normal;
      font-size: 11px;
   }
   
   #header_box > div:hover {
   	  transform: scale(0.85);
   	  background-color: #b8b5be;
   	  transition: 0.3s;
   	  border-radius: 10px;
   }

   #header_line {
      margin: 3px 10px 5px 110px;
      background-color: #2F2642;
      height: 2.4px;
   }
   
   #main_content {
   	  padding-left: 80px;
      font-family: 'SpoqaHanSansNeo-Regular';
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
   }
   
   #sub_menu {
      border-right: 3px solid #2F2642;
      flex-grow: 1;
      height: 84vh;
      margin: 0px;
      padding: 0px;
   }
   
   #sub_menu_title {
      font-size: 50px;
      font-weight: bold;
      color: #2F2642;
      font-family: 'HallymGothic-Regular';
	  font-weight: 700;
	  font-style: normal;
   }
   
   #sub_menu_list a  {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
      color: black;
      width: 150px;
      height: 70px;
      font-family: 'HallymGothic-Regular';
	  font-weight: 500;
	  font-style: normal;
      font-size: 25px;
   }
   
   #sub_menu_list a:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
      color: #858585;
      width: 150px;
      height: 70px;
      border-radius: 10px;
      background-color: #E6E6E6;
      font-weight: 700;
	  font-style: normal;
      font-size: 25px;
   }
   
   #content_sub_menu a {
      color: #E6E6E6;
      font-family: 'HallymGothic-Regular';
	  font-weight: 700;
	  font-style: normal;
      font-size: 30px;
   }
   
   #content_sub_menu a:focus {
      border-bottom: 6px solid black;
      color: black;
      font-family: 'HallymGothic-Regular';
	  font-weight: 700;
	  font-style: normal;
      font-size: 30px;
   }
   
   #home_side_profile {
   	  display: grid;
   	  flex-grow: 1;
   	  height: 75vh;
   	  border-right: 3px solid black;
   }
   
   #quick_btn {
   	  display: grid;
   	  justify-content: center;
   	  grid-template-columns: 110px 110px;
   }
   
   #quick_btn button {
   	  border-radius: 10px;
   	  background-color: #D9D9D9;
   	  width: 100px;
   	  height: 40px;
	  font-weight: 700;
      font-size: 13px;
      margin: 5px 3px;
   }

   #quick_btn button:hover {
   	  border-radius: 10px;
   	  background-color: #2C3639;
   	  width: 100px;
   	  height: 40px;
	  font-weight: 700;
      font-size: 13px;
      margin: 5px 3px;
      transition: 0.3s;
      color: white;
   }
   
   #mail_mini_box {
   	  border: 5px solid #D9D9D9;
   	  border-radius: 10px;
   	  width: 210px;
   	  height: 50px;
   	  margin-bottom: 10px;
   }
   
   #mini_box_font {
   	  border-right: 3px solid #D9D9D9;
   	  width: 110px;
   	  height: 30px;
   	  margin-left: 20px;
   	  font-weight: bold;
   }
   
   #mini_box_number {
   	  color: #FF5050;
   	  font-size: 20px;
   	  font-weight: 700px;
   	  margin-left: 30px;
   }
   
   #middle_box {
   	   padding-left: 30px;
   	   height: 35px;
   }
   
   #recent_approval_box {
   	  border-radius: 10px;
   	  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
   }
   
   #notice_box {
   	  background-color: #D9D9D9;
   	  border-radius: 10px;
   	  box-shadow: 1px 1px 8px #626262;
   }
   
}